/* Enter your custom styles here */
.prova {
  background: red !important;
}
.prova2 {
  background: blue !important;
}
.sapMSLI {
  height: 10vh !important;
  /* font-size: larger !important; */
  font-weight: 900 !important;
}
